.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* login */

.titleimg
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.containerflex {
  position: relative;
  display: flex;                  
  flex-direction: row;           
  flex-wrap: wrap;              
  justify-content: flex-end;      
  align-items: stretch;          
  align-content: stretch;        
  top: 5px;
  min-width: 350px;
  height: 100%;
  margin: auto;
} 
.flexitem {
  padding: 20px;
  font-weight: bold;
  background-color: white;
  opacity: 0.9;
}

.input-group
{
    width: 500px;
    padding: 70px;
    transition: .5s;
}

.imglogo
{
  width: 150px;
  height: auto;
}
.textlogin{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  width: 100%;
}
